[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=cordova-qt
Exec=/opt/cordova-qt/bin/cordova-qt
Icon=cordova-qt64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
