[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=phonegap-qt
Exec=/usr/bin/single-instance /opt/phonegap-qt/bin/phonegap-qt
Icon=/usr/share/icons/hicolor/80x80/apps/phonegap-qt80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
